body {
  margin: 0px;
  text-align: center;
}

h1 {
  font-family: "Satisfy", cursive;
  margin: 50px auto 0 auto;
  font-size: 5.62rem;
  color: #66bfbf;
  line-height: 2;
}
h2 {
  font-size: 3rem;
  color: #66bfbf;
  font-weight: normal;
  font-family: "Baloo Thambi 2", cursive;
}
h3 {
  color: #11999e;
}
span {
  text-decoration: underline;
}
a {
  color: #11999e;
}
.top-container {
  padding-top: 100px;

  /* border: 10px solid black; */
  background-color: #e4f9f5;
  position: relative;
}
.middle-container {
}
.bottom-container {
  background-color: #66bfbf;
  height: 6rem;
  width: 100%;
  padding: 60px 0 30px 0;
}
.cloud-top {
  position: absolute;
  right: 300px;
  top: 50px;
}
.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.profile-img{
  height: 200px;
  width: 200px;
  
}

.com-img {
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius: 100%;
}
.chill-img {
  width: 25%;
  height: 177px;
  float: right;
  margin-left: 30px;
  border-radius: 80%;
}
#greeting {
  margin-top: 5px;
}
#intro {
  color: #40514e;
  font-size: 20px;
  font-family: "Baloo Thambi 2", cursive;
  width: 40%;
  margin: 0 auto 0 auto;
}
.profile {
  text-align: center;
  margin: 50px auto 50px auto;
}
hr {
  border-style: none;
  border-top-style: dotted;
  width: 4%;
  border-color: #c2c9c9;
  border-width: 5px;
}
.btn {
  background-color: #11999e;
  padding: 10px 20px;
  font-family: "Baloo Thambi 2", cursive;
  color: white;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 50px;
}
.but {
  margin: 90px auto;
}
p {
  color: #40514e;
  font-size: 20px;
  font-family: "Baloo Thambi 2", cursive;
}
a {
  text-decoration: none;
}
.footer-link {
  padding: 10px 40px;
  font-size: 28px;
  color: #11999e;
}
.copyright {
  color: white;
}
